---
pagination:
    data: courses
    size: 1
    alias: course
permalink: "course/{{ course.slug }}/"
---

<a href="/">< Go back</a>

<h1>{{ course.title.rendered }}</h1>

<em>Course ID: {{ course.id }}</em>

{{ course.acf.description | safe }}