---
pagination:
    data: posts
    size: 1
    alias: post
permalink: "post/{{ post.slug }}/"
---

<a href="/">< Go back</a>

<h1>{{ post.title.rendered }}</h1>

<em>Course ID: {{ post.id }}</em>

{{ post.content.rendered }}
