---
pagination:
    data: posts
    size: 1
    alias: post
permalink: "post/{{ post.slug }}/"
---

<a href="/">< Go back</a>

<h1>{{ post.title.rendered | safe }}</h1>

<p><em>Course ID: {{ post.id }}</em></p>

{{ post.content.rendered | safe }}
